{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 27.31604,
    "longitude": -82.53677,
    "elevation": 5,
    "unit_system": "imperial",
    "location_name": "Home",
    "time_zone": "America/New_York",
    "external_url": null,
    "internal_url": null,
    "currency": "USD"
  }
}
